{% extends 'layout/base.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h1>Привет, {{ userName }}! Вышла новая статья в твоей любимой категории!</h1>
    <div class="card">
        <div class="card-header">
            <h3>
                {{ post.title|CensorF:'' }}
            </h3>
            <div>
                Автор: <span class="badge bg-info">{{ post.author }}</span>
                Тип поста: <span class="badge bg-info">{{ post.type_post }}</span>
                Рейтинг: <span class="badge bg-info">{{ post.rate }}</span>
            </div>
        </div>
        <div class="card-body">
            {{ post.content|truncatechars:50|CensorF:'' }}
        </div>
    </div>
{% endblock content %}