<!--  наследуемся от шаблона base.html -->
{% extends 'layout/base.html' %}
{% load custom_filters %}
<!-- Название у нас будет products -->
{% block title %}
Дайджест новостей прошлой недели из ваших предпочтений
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}

<h1>Привет {{userName}}!</h1> 
<h2>Дайджест новостей прошлой недели из ваших предпочтений</h2>
<!-- Выводим продукты (блюда), только если они есть, с помощью тега if -->
<h3>Время: {{ time_now|date:'M d Y' }}</h3>
<!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
<h3>Всего новых новостей: {{ posts|length }} </h3>
<table class="table">
    <tr>
        <th scope="col">
            Название
        </th>
        <th scope="col">
            Дата публикации
        </th>
        <th scope="col">
            Категория
        </th>
        <th scope="col">
            Контент
        </th>
        <th scope="col">
            Автор
        </th>
        <th scope="col">
            Рейтинг
        </th>
    </tr>
    
    {% for post in posts %}
    <!-- Для каждого товара будете генерироваться новая строчка, т.е. новый html-код. При этом сам цикл работает точно так же, как и в python. product -- переменная цикла, т.е. наш товар, взятый из общего списка -->
    <tr>
        <td>
            <a href="http://127.0.0.1:8000{% url 'news:post_detail' post.id %}">
                <!-- здесь
                    news -- название приложения, которое задано в urls.py с помощью директивы app_name,
                    post_detail -- название ссылки в списке эндпойнтов urlpatterns,
                    post.id -- id объекта, который передаётся в качестве через эндпойнт и подставляется вместо <int:pk>
                        -->
                {{ post.title|CensorF:'' }}
            </a>
            <!-- При нажатии на название в таблице нас теперь будет перекидывать на страницу с информацией о товаре/продукте -->
        </td>
        <td>
            {{ post.date_create|date:'d M Y' }}
        </td>
        <td>
            {{ post.type_post|multiply:1}}
        </td>

        <td>
            {{ post.content|truncatechars:50|CensorF:''}}<!-- Дописываем специальный фильтр, чтобы ограничить количество символов до 2 - первая буква + многоточие. -->
        </td>

        <td>
            {{ post.author }}
        </td>

        <td>
            {{ post.rate }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}